.head-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#center-title {
    margin-top: -25px;
}

.content-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #026b2e;
}
.product-items > h2 {
    margin-top: 3px;
    margin-bottom: 0;
}

.product-items {
    display: flex;
    height: 250px;
    border: 1px solid blue;
    flex-direction: column;

    align-items: center;


}
.item1, .item3, .item5 {
    background-color: violet;
}

.youtubelogo {
    height: 150px;
    width: 150px;
}