<!-- templates/profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h1>Welcome</h1>
    <img src="{{ profile.picture }}" class="circle-image" />
    <h2>{{ profile.name }}</h2>
    <h2>แจ้งชำระเงิน</h2>
    <h2>ประวัติการชำระเงินของคุณ</h2>
<table border="1" cellpadding="8">
    <thead>
        <tr>
            <th>วันที่โอน</th>
            <th>จำนวนเงิน</th>
            <th>สถานะ</th>
            <th>สลิป</th>
        </tr>
    </thead>
    <tbody>
        {% for p in payments %}
        <tr>
            <td>{{ p.transfer_date }}</td>
            <td>{{ p.amount }}</td>
            <td>
                {% if p.status == "Paid" %}
                    ✅ {{ p.get_status_display }}
                {% elif p.status == "overdue" %}
                    ⚠️ {{ p.get_status_display }}
                {% else %}
                    ⏳ รอตรวจสอบ
                {% endif %}
            </td>
            <td>
                {% if p.slip_image %}
                    <a href="{{ p.slip_image.url }}" target="_blank">
                        <img src="{{ p.slip_image.url }}" width="80" />
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="4">ยังไม่มีรายการชำระเงิน</td></tr>
        {% endfor %}
    </tbody>
</table>

    
    <a href="{% url 'account_logout' %}">Logout</a>
</body>

<style>
    .circle-image {
      width: 300x;
      height:300px;
      object-fit: cover;
      border-radius: 50%;
    }
</style>


</html>
